/*导航栏样式*/
.contanier{
	clear: both;
	width: 100%;
	position: relative;
	z-index: 1;
	background: #fff;
	float: left;
	height: 400px;
}
.contanier_banner{
	width: 100%;
	height: 400px;
	position: relative;
	background-color: #84ccd8;
	
}
.skSlider{
	width:1030px;
	height:400px;
	margin:0 auto;
	position:relative;
	cursor: pointer;
}
.skSliderimg{
	width:1030px;
	height:400px;
	overflow:hidden;
}

.skSliderimg ul li{
	width:1030px;
	height:400px;
	position:relative;
	overflow:hidden;
}
.skSliderimg .img1{
	position:absolute;
	left:-20px;top:0px;
}
.skSliderimg .img2{
	position:absolute;
	left:600px;
	top:0px;
}
.skSlidernav ul li{
	border:1px solid white;
	width:8px;
	height:8px;
	float:left;
	margin-left:5px;
	border-radius: 25px;
	opacity: 1;
}
.skSlidernav ul{
	border-radius: 20px;
	background-color: rgba(0,0,0,0.2);
	width: 100px;
	height: 12px;
	filter: Alpha(opacity=50);

}
.skSlidernav{
	width:150px;
	height:30px;
	position:absolute;
	left:400px;
	bottom:10px;
}
.select{
	background-color:white;
}
.skSlider_btnleft{
	position:absolute;
	width: 40px;
	height: 100px;
	background: url(../img/slide_btn.png) no-repeat;
	
	left: 50%;
	top: 50%;
	margin-top: -50px;
	margin-left:-430px ;
	z-index: 10;
	opacity: .5;
	cursor: pointer;
	display: none;
}
.skSlider_btnright{
	position: absolute;
	width: 40px;
	height: 100px;
	background: url(../img/slide_btn.png) no-repeat;
	background-position-x: -36px;
	left: 50%;
	top: 50%;
	margin-top: -50px;
	margin-left: 400px;
	z-index: 10;
	opacity: .5;
	cursor: pointer;
	display: none;
}
.skSlider_list{
	
	position: absolute;
	top: 129px;
	left: 50%;
	margin-left: -600px;
	z-index: 91;
	
}
.skSlider_listdiv a{
	color: #fff;
	text-indent: -2px;
	text-align: center;
	font: normal 14px/32px "微软雅黑";
	display: block;
	width: 180px;
	height: 34px;
}
.skSlider_listdiv{
	width: 180px;
	height: 34px;
	background: #382f6b;
}
.skSlider_listdl{
	width: 180px;
	height: 560px;
	background: #463B7E;
	position: relative;
	padding-bottom: 2px;
}
.webf1 {
	width: 180px;
	height: 61px;
	position: relative;
	color: #fff;
	cursor: pointer;
	
}
.webf1_js_bg{
	background: #FFFFFF;
}
.webf1_js_color_strong{
	color: #463B7E ;
}
.webf1_js_color_a{
	color:#CCCCCC;
}
.webf1 dt{
	padding: 5px 0 0 10px;
}
.webf1 dt p{
	padding-top: 5px;
	
	white-space: nowrap;
}
.webf1 dt p a{
	color:#CCCCCC;
}
.webf1 dd{
	border: 1px solid #463B7E;
	border-left: none;
	position: absolute;
	left: 180px;
	top: -2px;
	width: 300px;
	height: 562px;
	background: #FFFFFF;
	color: #463B7E ;
	padding: 0 20px;
	display: none;
}
.webf1 dd ul li{
	padding-top: 5px;
	padding-left: 10px;
	
}
.webf1 a{
	color: #767676;
}
.webf1 a:hover{
	color: red;
	text-decoration: underline;
}
.float-list-cont a{
	float: left;
	text-align: center;
	line-height: 30px;
	
}
.float-list-cont a em{
	margin: 0 5px;	
}
.webf1 dd ul li strong{
	width: 300px;
	float: left;
	margin: 15px;
}
.float-list-cont{
	display: block;
	margin-top: 20px;
	padding-left: 10px;
	width: 300px;
	
}
.floorList{
	width: 1200px;
	padding: 0 0 50px 0;
	margin: 0 auto;
}
.floor01{
	width: 100%;
	overflow: hidden;
	padding-top: 12px;
	font-size: 0;
	text-align: right;
}
.floor01 img{
	transition: width .4s ease-in-out,height .4s ease-in-out;
}
.floor01 img:hover{
	opacity: .5;
}
.floor01 p{
	display: inline-block;
	width: 330px;
	height: 198px;
	margin-left: 10px;
	transition: width .4s ease-in-out,height .4s ease-in-out;
}
img{
	vertical-align: middle;
	border: 0;
}
.m-tit{
	width: 100%;
	position: relative;
}
.m-tit a.t1{
	background-position: 0 -22px;
	margin-bottom: 10px;
}
.m-tit a{
	color: #000;
	width: 201px;
	height: 19px;
	margin: 0 auto;
	display: block;
	background: url(../img/ico_index2.png);
}
.m-tit .tbd{
	text-align: center;
	background: #fff;
	height: 35px;
}
.m-tit span{
	display: inline-block;
	font: 14px/35px "microsoft yahei";
	color: #333;
	padding: 0 23px;
	background: #fff;
}
.hw-con li{
	float: left;
	font: 12px/37px "microsoft yahei";
	color: #999;
	height: 35px;
	padding: 0 3px;
}
